/* Global styles------------------------------------*/
:root {  
	font-size: 100%;  
	--banner-size: 8em;
}
html{
    box-sizing: border-box;
}

/* adds a background and font to eveything in the body. */
body {    
	color: #343434;
	padding-top: var(--banner-size);
	font-family:'Montserrat', sans-serif;
	font-size: 1em;
	line-height: 1.5;
}

header{    
	text-align: center;
}
#page-header{    
	position: fixed;    
	display: flex;    
	justify-content: center;    
	align-items: center;    
	top: 0;    
	left: 0;    
	background: black;    
	width: 100%;    
	height: auto;    
	min-height: var(--banner-size);
	border: 5px solid black;
	border-top: 0px;
}
.header-link {
	width: 20%;
	padding: 1vw;
	font-size: 1.25em;
	color: white;
	text-decoration: none;
	border: 2px solid whitesmoke;
	border-radius: 1em;
	background-color: darkgrey;
	color: forestgreen;
}
#title {
	color: whitesmoke;
}

section {
	border-top: 1px dotted grey;
	display: flex;
	flex-wrap: wrap;
}
.section-header {
	color: green;
	flex-basis: 100%;
}
section div {
	flex: 1;
	padding-left: 3em;
	padding-right: 3em;  
}

.subsection-header {
	color: darkgreen;
}

.date-range {
	color:  grey;
}
.extra-info {
	font-style: italic;
	color:  darkgrey;
}

