/* Global styles------------------------------------*/
:root {
  font-size: 100%;
}
html{
    box-sizing: border-box;
    background-color: rgb(245, 254, 241);
}

/* adds a background and font to eveything in the body. */
body {
  color: #343434;
  padding-top: var(--banner-size);
  font-family:'Montserrat', sans-serif;
  font-size: 1em;
  line-height: 1.5;
}

/* Creates dotted lines between each section of the resume.
  Colors each title and makes it its own row of the flex display.
  Makes all the other elements stay in the same row.*/
section {
  border-top: 1px dotted grey;
  display: flex;
  flex-wrap: wrap;
}
.section-header-centered {
  text-align: center;
  flex-basis: 100%;
}
.section-header {
  flex-basis: 100%;
  padding-inline-start: 1em;
}


/* Colors the headers of each subsection */
.subsection-header {
  color: rgb(77, 96, 76);
}

/* Styles the extra information on each section (dates, locations) */
.date-range {
  color:  rgb(90, 107, 90);
}
.extra-info {
  font-style: italic;
  color:  dimgrey;
}
